
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <!--Font Awesome-->
    @Scripts.Render("~/bundles/fa")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @Html.Partial("_navBar")
    <div class="container body-content">
        <div class="alert_info"></div>
        @RenderBody()
        @Html.Partial("_SignUp")
        @Html.Partial("_LogIn")

        <hr />
        <!-- Footer -->
        <footer class="page-footer font-small indigo">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto colum">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-white mt-3 mb-4">Iniciando</h5>

                        <ul class="list-unstyled">
                            <li>Cree su sitio web dinámico</li>
                            <li>Desarrollo agradable y ágil</li>
                            <li>Plataforma potente</li>
                            <li><a class="btn btn-default m-auto linkMore" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto colum">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-white mt-3 mb-4">Adapta tu proyecto</h5>

                        <ul class="list-unstyled">
                            <li>Use su propia lógica</li>
                            <li>Use Bundles</li>
                            <li>Adapte su Base de Datos</li>
                            <li><a class="btn btn-default m-auto linkMore" href="https://github.com/badinho999/PlantillaDIARS.git">Learn more &raquo;</a></li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 mx-auto colum">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-white mt-3 mb-4">Alojamiento Web</h5>

                        <ul class="list-unstyled">
                            <li>Encuentre la compañía que más le convenga</li>
                            <li>Despliegue su sitio web</li>
                            <li><a class="btn btn-default m-auto linkMore" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <div class="uSep">
                <hr />
            </div>

            <!-- Copyright -->
            <div class="footer-copyright text-center text-white py-3">
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
    
</body>
</html>
